.nav {
    height: 70px;
    padding: 10px;
    background: #000;
    color: #fff;
    display: flex;
    align-items: center;
  }
  
  .logo {
    margin-left: 75%;
  }

  .nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: flex-end;
  }
  
  .nav ul li a {
    margin: 5px 15px;
  }